extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/accreditation.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Partners
      table.table-with-images
        tr
          td
            img(src='/images/p1.png')
          td
            p
              | HSBC Holdings plc, банк «Эйч-эс-би-си»— один из крупнейших финансовых конгломератов в мире. HSBC — это аббревиатура от Hongkong and Shanghai Banking Corporation(Банковская корпорация Гонконга и Шанхая). Банк с таким названием был основан в 1865 годув Гонконге для финансирования торговли между Китаем и Европой. Он стал первым банком в этой британской колонии, до этого в Гонконге работали только представительства зарубежных банков
        tr
          td
            img(src='/images/p2.png')
          td
            p
              | Bank of China — Банк был основан в 1912 году путём преобразования банка Ta Ching Government Bank и является старейшим банком Китая. В 1949 году банк стал специализироваться на международном обслуживании интересов правительства Китая. Постепенно банк развивал свой бизнес, основывая филиалы в разных странах мира. Bank of China входит в число 20 крупнейших банков мира, чья зарубежная филиальная сеть насчитывает свыше 500 отделений более чем в 20 странах.
        tr
          td
            img(src='/images/p3.png')
          td
            p
              | Barclays - один из крупнейших в Великобритании и мире финансовых конгломератов с широким представительством в Европе, США и Азии. Операции конгломерата осуществляются через дочерний Barclays Bank PLC, являющийся вторым по величине активов банком Великобритании
        tr
          td
            img(src='/images/p4.png')
          td
            p
              | Deutsche Bank — универсальный, один из 30 важнейших транснациональных банков по данным Совета по финансовой стабильности. Он включает коммерческие, ипотечные, инвестиционные банки, лизинговые компании и т. д. 28 миллионов клиентов, 2814 отделений (из них 1845 в Германии), многочисленные участия, филиалы, представительства за рубежом (в 76 странах мира в том числе Нью-Йорке, Лондоне, Сингапуре, Сиднее и Москве). Является крупнейшим участником валютного рынка, придаёт большое значение инвестиционной деятельности и эмиссии собственных ценных бумаг.
        tr
          td
            img(src='/images/p5.png')
          td
            p
              | Ситибанк (англ. Citibank) — крупнейший международный банк, основанный в 1812 году как City Bank of New York, затем First National City Bank of New York. Сейчас Citibank — подразделение Citigroup, гигантской международной корпорации в области финансовых услуг. С марта 2007 года это крупнейший банк США среди холдингов.
        tr
          td
            img(src='/images/p6.png')
          td
            p
              | Hong Kong Exchanges and Clearing Limited (HKEx; 香港交易及結算所有限公司) — крупный финансовый холдинг, образованный в 2000 году путём объединения компаний Гонконгской фондовой биржи, Гонконгской фьючерсной биржи (Hong Kong Futures Exchange) и Hong Kong Securities Clearing Company (финансовые услуги). Штаб-квартира холдинга расположена в Гонконге, в небоскребе Exchange Square
        tr
          td
            img(src='/images/p7.png')
          td
            p
              | Шанхайская фондовая биржа (кит. 上海证券交易所) — крупнейшая торговая площадка континентального Китая, одна из лидирующих азиатских бирж. Основана в 1990 году. Является некоммерческой организацией под управлением Комиссии по ценным бумагам КНР.
        tr
          td
            img(src='/images/p8.png')
          td
            p
              | Лондонская фондовая биржа (англ. London Stock Exchange, сокращённо LSE) — одна из крупнейших и старейших бирж Европы и один из наиболее известных мировых рынков ценных бумаг. Официально основана в 1801 году, однако фактически её история началась в 1570-м, когда королевский финансовый агент и советник Томас Грешэм построил Королевскую биржу на собственные деньги. Лондонская биржа является сама акционерным обществом, чьи акции на ней же и обращаются.
        tr
          td
            img(src='/images/p9.png')
          td
            p
              | Нью-Йо́ркская фондовая биржа (англ. New York Stock Exchange, NYSE) — расположенная на Уолл-Стрит в Нью-Йорке главная фондовая биржа США, крупнейшая в мире по обороту. Символ финансового могущества США и финансовой индустрии вообще. На бирже определяется всемирно известный индекс Доу-Джонса для акций промышленных компаний (англ. Dow Jones Industrial Average), а также индексы NYSE Composite и NYSE ARCA Tech 100 Index.
