extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/about-futu-capital.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium О компании FUTU Capital
      dl.list-terms
        

        dt.h3.text-medium
        dd.text-light
          | Futu Securities International - компания, занимающаяся оказанием различных услуг в сфере финансовых рынков. В том числе, является международным валютным брокером, провайдером ликвидности, брокером ценных бумаг. Более того, выполняет валютные операции, предоставляет решения по ликвидности. Оказывает услуги по управлению активами.


        dt.h3.text-medium Надежный контроль с точным нормативно-правовым регулированием
        dd.text-light
          ul.marked-list
            li Проверенное качество и профессиональная оценка были признаны несколькими комитетами финансового регулирования
            li Многонациональное, многопрофильное и надежное регулирование


        dt.h3.text-medium Полный набор услуг по инвестициям, корпоративному хеджированию и управлению рисками
        dd.text-light
          ul.marked-list
            li Удовлетворение инвестиционных потребностей каждого клиента
            li Предоставление различных решений по операциям с ценными бумагами, валютами и драгоценными металлами
            li Мы оказываем услуги, которые позволят Вам работать слаженно с первого дня 


        dt.h3.text-medium Передовые технологии с непрекращающимися инновациями
        dd.text-light
          ul.marked-list
            li •  Разработка новейших средств управления транзакциями, чтобы помочь Вам справиться с все более сложными бизнес-моделями и системами управления рисков 
            li •  Стремимся предоставить Вам передовую, качественную платформу 


        dt.h3.text-medium Работаем на трех континентах, 7 дней в неделю, 24 часа в сутки
        dd.text-light
          ul.marked-list
            li Представительства в Гонконге, в Тайбэй, в Бейжинге, в Москве и многих других городах 
            li Возможность совершения операций по всему Миру 7 дней в неделю, 24 часа в сутки

