extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/accreditation.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Accreditation
      table.table-with-images
        tr
          td
            img(src='/images/accreditation.png')
          td
            p
              b Комиссия по ценным бумагам и фьючерсам (SFC)
              br
              | Дилер на рынке ценных бумаг
              br
              | Дилер на рынке фьючерсов
              br
              | Консультант на рынке ценных бумаг
              br
              | Управление активами
              br
              a(href="https://www.sfc.hk/publicregWeb/corp/AZT137/details", target="_blank") CE No: AZT137
