extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/risk-disclosure.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Предупреждение о рисках
      dl.list-terms
        

        dt.h3.text-medium
        dd.text-light
          | Настоящее предупреждение о рисках имеет своей целью информировать Вас относительно рисков, связанных с торговлей производными внебиржевыми инструментами, такими как валюта, опционы, контракты на разницу и другие производные внебиржевые продукты, предлагаемые FUTU Capital время от времени (“Производные Внебиржевые Инструменты”), тем не менее, настоящее предупреждение о рисках не включает в себя все риски. 
          br
          | Вы подтверждаете, что невозможно гарантировать прибыль и освободить от убытков при торговле внебиржевыми инструментами, и что у Вас нет отдельных соглашений с FUTU Capital или любым другим членом FUTU Capital относительно торговли на Вашем счету, включая любое соглашение, предусматривающее гарантию прибыли или ограничение убытков на Вашем счету. Вы согласны без промедления уведомить нас в письменной форме на support@futucapital.hk, если кто-либо, включая Вашего Агента и-или менеджера по управлению счетом, предлагает Вам подобное соглашение относительно любого Вашего счета или если кто-либо сделает какие-либо заявления относительно Вашего счета, которые отличаются от выписок по счету, которые Вам предоставил FUTU Capital 



        dt.h3.text-medium Политика Конфиденциальности 
        dd.text-light
          | Мы получаем личную информацию о Вас, как напрямую от Вас, так и непосредственно, в результате наших с Вами взаимоотношений. Мы можем использовать собранную информацию для того, чтобы проверить Вашу личность, открыть торговый счет для Вас (включая предоставление Вам номера счета и пароля), предоставить выписки и подтверждения сделок, способствовать финансированию Счета и осуществлять списания, среди других причин, связанных со счетом и оказанием услуг клиентам. Мы так же можем использовать информацию для того, чтобы уведомить Вас относительно каких-либо новых или существующих продуктов, услуг и промоакций, которые могут Вас заинтересовать. Большое количество информации, которую мы собираем, предоставляете Вы напрямую. Эта информация содержит, помимо прочего, личные данные, такие как имя, адрес, дата рождения, номер телефона и адрес электронной почты, информация, необходимая согласно нормативно- правовым требованиям, для проверки Вашей личности, такие данные как паспорт или другое удостоверение личности с фотографией, выданное государственным органом, финансовая информация, такая как детали Вашего торгового Счета, ежегодный доход, собственный капитал, финансовая информация, такая как спекулятивный капитал, данные банковского счета и данные по кредитной карте и другая информация, такая как Ваш IP адрес, тип интернет- браузера, операционная система и Ваш интернет провайдер. Если Вы закроете у нас Счет, мы сохраним Вашу информацию, но будем использовать ее только для того, чтобы выполнить нормативно-правовые требования и периодически связываться с Вами, что сообщать Вам информацию о новых продуктах, услугах и промоакциях, которые мы можем предлагать время от времени. 

