extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/contacts-page.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium 联系页面
      dl.list-terms
        

        dt.h3.text-medium 香港
        dd.text-light
          | 地址：
          br
          | 香港上环湾仔西街14至20号曼谷银行大厦十一楼
          br
          | 电话/传真:
          br
          | +852 2828 3555 
          br
          | 电子邮件:
          br
          | cshk@futucapital.hk
        




        dt.h3.text-medium 北京
        dd.text-light
          | 地址:
          br
          | 北京市朝阳区东三环秀光里北路18号网关广场A座14层100027中国
          br
          | 电话/传真:
          br
          | +86 10 5829 9766 
          br
          | 电子邮件:
          br
          | cschina@futucapital.hk
        




        dt.h3.text-medium 台北
        dd.text-light
          | 国泰君安国际机场六十六号三楼B1 台北市信义区忠孝路5号5楼
          br
          | 电话/传真:
          br
          | +886 2 7710 9889 
          br
          | 电子邮件:
          br
          | cstaiwan@futucapital.hk


        




        dt.h3.text-medium 莫斯科
        dd.text-light
          | 地址:
          br
          | 34级水星塔，Presnenskaya Naberezhnaya，莫斯科，俄罗斯
          br
          | 电话/传真:
          br
          | +7 495 #####
          br
          | 电子邮件:
          br
          | csrussia@futucapital.hk



