extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/securities.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Акции

      p FUTU Capital дает возможность торговать ценными бумагами в Гонконге, Шанхае, Лондоне, США и других странах. Вы можете покупать или продавать акции и подписываться на IPO на крупнейших фондовых биржах мира в Гонконге, Шанхае, Нью-Йорке, Лондоне и т. д. 
