extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/fx-market.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium FOREX
      p Forex – это международный валютный рынок, где совершают сделки по покупке-продаже одной валюты по отношению к другой. За счет высокой волатильности рынка Forex трейдеры получают возможность значительно приумножать свои средства. Потенциальная прибыль в результате успешных торговых операций на Forex значительно превосходит доходность по всем другим известным финансовым инструментам. Валюты торгуются в парах, которые так и называют – «валютные пары». К примеру, порядка 80% торговых операций приходятся на наиболее популярную валютную пару EUR/USD (Евро/Американский доллар). Если вы купите EUR/USD (совершите сделку BUY), то вы получите прибыль, если курс евро начнет расти по отношению к курсу доллара. Соответственно, при продаже (SELL) вы получите потенциальную прибыль, если евро начнет падать в цене.
