extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/wealth-management.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Управление активами

      p Наша основная миссия - обеспечить безопасный рост средств наших клиентов. 
      p Благодаря многолетнему опыту и ресурсам, которые имеются в зарубежных городах с многочисленным китайским населением, FUTU Capital предоставляет индивидуальные программы управления капиталом, для удовлетворения соответствующих финансовых потребностей предприятий и индивидуальных клиентов. 
