extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/liquidity-solutions.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Решения по ликвидности

      p FUTU Capital предоставляет решения по ликвидности и ряд технологических консалтинговых услуг  для трейдеров, связанных с торговлей валютами, ценными бумагами и драгоценными металлами. А также, мониторинг рисков, транзакций и ценообразования. Это позволяет клиентам получать конкурентное преимущество на рынке капитала и выполнять страхование рисков на международном рынке.
      
      
      h5.text-medium Сотрудничество включает в себя:
      ul.marked-list
        li Предоставление индивидуальной торговой платформы и профессиональные консультации 
        li Торговая поддержка 7 дней в неделю, 24 часа в сутки,  с разнообразной рыночной ликвидностью  
        li Предоставляем партнерам маркетинговые планы и обучение на всех этапах сотрудничества, чтобы помочь создать свои собственные бренды и как можно скорее разработать ряд высококонкурентных и дифференцированных продуктов
        li Внедрена жесткая программа управления и контроля рисков, гарантирующая безопасность средств клиентов
      
      br
      p Вы будете наслаждаться этими преимуществами, став клиентом FUTU Capital

