//- 
//- дерем шаблон отсюда:
//- http://www.templatemonster.com/ru/demo/58735.html
//- 


include ../_mixins/global

doctype
html.wide.wow-animation.smoothscroll
  head
    block head
      include ./parts/_head
    title
      block pageTitle
        | #{pageTitle ? pageTitle+' - ' : title ? title+' - ' : ''}
        | ReliantMC
    body#body
      +globalVar('defaultDateFormat', ddf)
      block body
        .page.text-center
          header.page-head
            //- navbar
            include ./parts/navigation
          main.page-content
            //- include ./parts/topnav
            //- include ./parts/breadcrumbs
            block content
          block footer
            include ./parts/footer

    //- исходники шаблона
    script(src='js/tpl/core.min.js')
    script(src='js/tpl/script.js')
    //- 
