extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/about-futu-capital.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium About FUTU Capital
      dl.list-terms
        

        dt.h3.text-medium General information
        dd.text-light
          | Futu Securities International, an organization with multiple business functional roles including global foreign exchange broker, liquidity provider, foreign exchange trading system provider, securities broker, service provider for corporate treasury management platform and many more, provides foreign exchange transactions, liquidity solutions, international settlement and corporate hedge, wealth management, securities investment, financial IT solutions and other financial products and services for global customers and enterprises.


        dt.h3.text-medium Authoritative supervision, with trustworthy regulation 
        dd.text-light
          ul.marked-list
            li Proved quality and professional qualifications have been recognized by several financial regulatory committees 
            li Multinational and multi-licensed authoritative regulation 

        dt.h3.text-medium Full coverage of professional investment, corporate hedge and financial needs
        dd.text-light
          ul.marked-list
            li Breakthroughs in industrial and geographic restrictions of financial investment and service 
            li Meet the individual investment needs of individual customers 
            li Provide multiple solutions to enterprise transaction platform, enterprise foreign exchange management and others for institutional clients 

        dt.h3.text-medium Cutting-edge financial science and technology, with ceaseless innovation
        dd.text-light
          ul.marked-list
            li Constantly research and develop the latest transaction and management tools to help you cope with increasingly complex business models and risk control system 
            li Attach importance to R&D investment in science and technology platform and actively use the latest research results of financial technology 
            li Committed to providing you with cutting-edge and high-end financial platform 


        dt.h3.text-medium Cover three continents, with 7/24 trading
        dd.text-light
          ul.marked-list
            li Wholly-owned companies or representative offices are established in Hong Kong, Beijing and Taipei in China, and many other international cities 
            li Uninterrupted 7/24 global electronic transactions and services 

