extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/risk-disclosure.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Risk disclosure
      dl.list-terms
        

        dt.h3.text-medium General information
        dd.text-light
          | Futu Securities International (Hong Kong) Limited(the “Company”)   has  published this [document /presentation] solely for information purposes and is subject to change without prior notice. 
          br
          | No warranty is made as to its accuracy, reliability or completeness and this {document/presentation] is not to be construed as financial or investment advice or a solicitation or an offer to acquire any financial products or services.  It was prepared without taking into account your individual objectives, financial situation, needs, experience or capacity to bear loss. The risk of loss in securities trading and leveraged foreign exchange, CFD’s and other derivatives trading can be substantial and result in losses that exceed your initial deposit. You should consider whether it is appropriate to you, having regard to your objectives, financial situations and needs and if necessary, seek appropriate professional advice. 
          br
          | This document is not directed to, or intended for distribution to, or use, by any person or entity who is a citizen or resident of, or located in any locality, state, country or other jurisdiction where such distribution, publication, availability or use would be contrary to any law or regulation or which would subject any entity within the Company to any registration or licensing requirements within such jurisdiction. 



        dt.h3.text-medium Privacy Statement 
        dd.text-light
          | It is FUTU Capital`s policy to respect confidentiality and privacy of individuals. This Privacy Statement sets out the ways FUTU Capital  managing your information upon your access to this website. FUTU Capital is required to collect certain information in order to provide financial services and satisfy your needs in customer services from time to time. The requested information may include but not limited to your name, date of birth, address, email address, telephone number, identification document particulars, income and employment details, etc. The internet service provider of FUTU Capital may also record your information upon your access to this website including but not limited to your domain name, time of access, contents you access to and type of browser. If you choose not to supply information as requested, FUTU Capital may not be able to provide investment, dealing or related services to you. Your information may be used for the purpose of daily operation of the service provided to you, as well as managing your account, reviewing your ongoing needs, improving and enhancing customer service and products to be provided to both existing and potential customers, promoting and marketing investment, dealing or related services and products, and giving ongoing information or opportunities that may be relevant to you. FUTU Capital will take reasonable steps to protect your information from unauthorized access or use by third parties. Depending on the business operation and product and services concerned, FUTU Capital may be required to disclose your information to (a) any agent or third party service provider of FUTU Capital; (b) associated or affiliated companies within FUTU Capital which has undertaken to keep such information confidential; (c) any person or institution with which you have or propose to have dealings; (d) credit reporting or reference agencies; (e) courts, tribunals and any regulatory authorities or exchanges which relate to or govern any business of FUTU Capital, etc.
          | Should you require a copy of privacy statement from each of the business entities operated under FUTU Capital, please contact our customer service representative.

