extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/accreditation.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Partners
      table.table-with-images
        tr
          td
            img(src='/images/p1.png')
          td
            p
              | HSBC (Chinese: 滙豐; Jyutping: wui6 fung1), officially known as The Hongkong and Shanghai Banking Corporation Limited (Chinese: 香港上海滙豐銀行有限公司), is the largest bank in Hong Kong, and operates branches and offices throughout the Asia Pacific region, and in other countries around the world. It is also one of the three commercial banks licensed by the Hong Kong Monetary Authority to issue banknotes for the Hong Kong dollar.
        tr
          td
            img(src='/images/p2.png')
          td
            p
              | Bank of China (Hong Kong) Limited (BOCHK, Chinese: 中國銀行(香港)公司) is the second-largest commercial banking group in Hong Kong in terms of assets and customer deposits, with more than 300 branches in Hong Kong. It was established on 1 October 2001 from a merger of 12 subsidiaries and associates of the Bank of China in Hong Kong, and listed on the Hong Kong Stock Exchange in October 2002. As of the end of 2003, the bank had HK$763 billion in assets and earned net profit of HK$8 billion in 2003. Its head office is in the Bank of China Tower in Centra
        tr
          td
            img(src='/images/p3.png')
          td
            p
              | Barclays /ˈbɑːrkliz/ is a British multinational banking and financial services company headquartered in London. It is a universal bank with operations in retail, wholesale and investment banking, as well as wealth management, mortgage lending and credit cards. It has operations in over 50 countries and territories and has around 48 million customers.
        tr
          td
            img(src='/images/p4.png')
          td
            p
              | Deutsche Bank AG (literally "German Bank"; pronounced [ˈdɔʏ̯t͡ʃə ˈbaŋk ʔaːˈgeː]) (About this sound listen (help·info)) is a German global banking and financial services company with its headquarters in the Deutsche Bank Twin Towers in Frankfurt. It has more than 100,000 employees in over 70 countries, and has a large presence in Europe, the Americas, Asia-Pacific and the emerging markets. In 2009, Deutsche Bank was the largest foreign exchange dealer in the world with a market share of 21 percent. The company was a component of the STOXX Europe 50 stock market index until being replaced on that index on August 8, 2016
        tr
          td
            img(src='/images/p5.png')
          td
            p
              | Citibank is the consumer division of financial services multinational Citigroup. Citibank was founded in 1812 as the City Bank of New York, later First National City Bank of New York. Citibank provides credit cards, mortgages, personal loans, commercial loans, and lines of credit.  The bank has a total of 2,649 branches in 19 countries, including 723 branches in the United States and 1,494 branches in Mexico. The U.S. branches are concentrated in six metropolitan areas: New York City, Chicago, Los Angeles, San Francisco, Washington, D.C., and Miami. In 2016, the United States accounted for 70% of revenues and Mexico accounted for 13% of revenues. Aside from the U.S. and Mexico, most of the company's branches are in Poland, Russia, India and the United Arab Emirates
        tr
          td
            img(src='/images/p6.png')
          td
            p
              | The Stock Exchange of Hong Kong Limited (SEHK) is a stock exchange located in Hong Kong. It is East Asia's and Asia's third largest stock exchange in terms of market capitalization behind the Tokyo Stock Exchange and Shanghai Stock Exchange, and the sixth largest in the world before Euronext. As of 31 October 2016, SEHK had 1,955 listed companies, 989 of which are from mainland China, 856 from Hong Kong and 110 from abroad (e.g. Taiwan, Malaysia, United States, Singapores, etc.) Hong Kong Exchanges and Clearing owns SEHK and is itself listed on SEHK.
        tr
          td
            img(src='/images/p7.png')
          td
            p
              | The Shanghai Stock Exchange (SSE; Chinese: 上海证券交易所; pinyin: Shànghǎi zhèngquàn jiāoyì suǒ), is a stock exchange that is based in the city of Shanghai, China. It is one of the two stock exchanges operating independently in the People's Republic of China, the other being the Shenzhen Stock Exchange. Shanghai Stock Exchange is the world's 5th largest stock market by market capitalization at US$3.5 trillion as of February 2016, and 2nd largest in East Asia and Asia. Unlike the Hong Kong Stock Exchange, the Shanghai Stock Exchange is still not entirely open to foreign investors due to tight capital account controls exercised by the Chinese mainland authorities and often manipulated by the decisions of the Central Government
        tr
          td
            img(src='/images/p8.png')
          td
            p
              | The London Stock Exchange (LSE) is a stock exchange located in the City of London, England. As of December 2014, the Exchange had a market capitalisation of US$6.06 trillion (short scale), making it the third-largest stock exchange in the world by this measurement (the largest in Europe, ahead of Euronext). The Exchange was founded in 1801 and its current premises are situated in Paternoster Square close to St Paul's Cathedral in the City of London. The Exchange is part of the London Stock Exchange Group.
        tr
          td
            img(src='/images/p9.png')
          td
            p
              | The New York Stock Exchange (abbreviated as NYSE and nicknamed "The Big Board"), is an American stock exchange located at 11 Wall Street, Lower Manhattan, New York City, New York. It is by far the world's largest stock exchange by market capitalization of its listed companies at US$19.3 trillion as of June 2016. The average daily trading value was approximately US$169 billion in 2013. The NYSE trading floor is located at 11 Wall Street and is composed of 21 rooms used for the facilitation of trading. A fifth trading room, located at 30 Broad Street, was closed in February 2007. The main building and the 11 Wall Street building were designated National Historic Landmarks in 1978.
