extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/fx-market.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium FX Market
      p Forex (abbreviated from FOReighn EXchange Market) is a global international market for trading in currencies. Its distinctive feature is that prices are established on the basis of an agreement between the parties. This means that the prices depend only on supply and demand for a particular currency, which makes them volatile.
      p Thus, the Forex (Foreign Exchange) Market allows you to earn in any situation from exchange rate fluctuations. It is the high volatility of the market that creates an opportunity to significantly increase your funds, while the potential profit from successful trading transactions on the Forex market substantially exceeds the returns on all other known financial instruments.
      p The basis of currency trading on the Forex market is the so-called 'currency pairs' or the price of one currency against another currency in a given pairing. The most popular pair is EUR/USD, or the ratio of the exchange rate of euro to the US dollar. It accounts for about 80% of trading on the Forex market. Such pairs as GBP/JPY, EUR/JPY, and GBP/USD are also popular among individual traders because of their strength and high volatility. Therefore, the Forex market offers you a huge number of currency instruments to make profit.
