extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/corporate-fx.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Corporate FX

      p One-stop Solution for Enterprise Foreign Exchange Management
      br
      p Business activities of modern enterprises occur each day throughout the world, making the international settlement, cross-border payment, and enterprise foreign exchange management. There are indispensable requirements for cross-border business and trading. Based on many years of comprehensive experiences in foreign exchange management, FUTU Capital has been working closely with many of the world's leading banks and financial institutions to provide highly competitive special cases of settlement solutions for cross-border receipt and payment, enterprise foreign exchange management system, foreign exchange hedging and hedging consulting services, in order to effectively satisfy the needs of foreign exchange and derivative products for cross-border E-commerce companies, importers and exporters, and large to small size enterprises as well as individuals.
