extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .resp-tab-content-active {min-height: 650px;}


block content
  
  //- 
      +separator()
      h2.text-medium
      dl.list-terms

        dt.h3.text-medium 
        dd.text-light 
          p 


  section.breadcrumb
    ul.inline-list
      li
        a(href='/') Home
      li.active UAE Free Zones Company Registration 

  section.text-md-left.section-60
    .shell
      h2.text-medium UAE Free Zones Company Registration 
      dl.list-terms



        dt.h3.text-medium 
        dd.text-light 
          p Reliant Management Consultancy will help you to establish a company in various free zones of UAE. 
          p
            b Jebel Ali Free Zone (JAFZA)
            |  - In order to promote international trade and investment, in 1985 the first free economic zone in the UAE for the registration of companies was established in the Emirate of Dubai. By itself, this is a free economic zone - limited area in regions with a special legal status in relation to the rest of the territory and favorable economic conditions for domestic and foreign entrepreneurs.
            | Creation of the first free economic zone has been so successful from an economic point of view, that this project model has been widely copied after Dubai to other emirates.
            p To date, only one Dubai has more than 20 free trade zones, each of which focused on the incorporation of companies of a certain type of activity. Total number of FEZ in the UAE is 30.


        dt.h3.text-medium Benefits of registering a company in the free economic zones of the UAE
        dd.text-light 
          ul.marked-list
            li 100% Repatriation of revenue and the lack of income tax;
            li 100% ownership of the company;
            li 100% absence of import and export duties;
            li Resident visa and residence permit for the founders and staff of the company;
            li The full, right to use banking services and other financial services (credit cards, checkbooks, interest-free cash withdrawal from current accounts, etc.).
            li The absence of taxation of profits, a zero withholding tax income rate in the UAE and as a result 100% repatriation of proceeds received from the source in the territory of the Emirates are characteristics of free economic zones, applicable for the whole territory of the United Arab Emirates.

          p Possibility of registering a company in the free economic zone has allowed foreign investors to obtain an independent 100% sole ownership and control of the company. Prior to the formation of free economic zones for the registration of all commercial companies in the United Arab Emirates the foreign investor  had to share the ownership with a local partner - a citizen of the United Arab Emirates and his share in the capital of the company was to be not less than 51%.
          p Another important advantage of registering a company in the free economic zones of United Arab Emirates is the absence of any import and export duties on imported and exported goods.



        dt.h3.text-medium Free Economic Zones of Dubai
        dd.text-light 
          p The most prestigious, expensive and conservative free zones are located in Dubai. Most of them require renting executive office for the company's registration. In addition, the cost of obtaining a license and annual maintenance is significantly higher than all other free zone areas. If your reputation is important, open up your business in a FEZ-s of Dubai.



        dt.h3.text-medium UAE Free Trade Zones
        dd.text-light 
          p We recommend that you familiarize yourself with some free economic zones of the United Arab Emirates, where most of our clients have registered companies:
          .row
            //- 
            .col-md-6
              .h5 Dubai Airport Free Zone - Dubai Airport FEZ
              p Suitable for companies that deal with air cargo, logistics and trade of expensive products that require rapid clearance and maintenance
            //- 
            .col-md-6
              .h5 TECOM Investments - FEZ "Dubai TECOM"
              p If you need a luxurious office in the center of Dubai, kindly take into consideration Tecom. It includes eleven free zone areas - media, IT, design sector, manufacturing, education, scientific activity and medicine.
            //- 
            .col-md-6
              .h5 Dubai Multi Commodities Center - FEZ "DMCC"
              p Perhaps the design of all types of marketing authorizations, including precious metals and stones. In some cases, allows smart offices. It is located in  JLT Free Zone.
            //- 
            .col-md-6
              .h5 Dubai International Financial Center - FEZ "Dubai International Financial Centre"
              p The prestigious financial center. Only here you can get a license for banking, finance, insurance, asset management.
            //- 
            .col-md-6
              .h5 Jebel Ali Free Zone - FEZ "Jebel Ali Authority"
              p Convenient location close to the subway, the best infrastructure. Offices, showrooms, outlets, warehouses, business parks, lots of premises on every taste,  sea port and it is all in Dubai. Includes Golden & Diamond Park.
            //- 
            .col-md-6
              .h5 Dubai Silicon Oasis - FEZ "Dubai Silicon Oasis"
              p FEZ popular for the registration of companies in the IT and high-tech, engineering, as well as the trade and consulting. Chic and cheap offices.



        dt.h3.text-medium Free Economic Zone of the Emirate of Abu Dhabi
        dd.text-light 
          p If you find important to combine the prestige of the UAE capital with the possibility of using any type of commercial real estate, you should pay attention to Abu Dhabi. It is the most expensive emirate. Our professionals offer to pay special attention to the following two FEZ: 
          .row
            //- 
            .col-md-6
              .h5 Masdar City Free Zone - FEZ "Masdar City"
              p The absence of bureaucratic red tape. Fast registration of the company and obtaining a residence visa. It is suitable for company establishment for operating in various sectors of economy.
            //- 
            .col-md-6
              .h5 Abu Dhabi Airport Business City - FEZ Airport Abu Dhabi
              p Located in close proximity to Abu Dhabi airport. Ideal for logistics and cargo, as well as other services. It allows the use of smart office.






        dt.h3.text-medium Free economic zone of the northern Emirates
        dd.text-light 
          p The most cost-effective free economic zones are located in the northern Emirates. If you do not need a separate office for rent, there is a possibility to open a company with the smart office and gain quota to obtain 2-3 resident visas. Fast registration is another advantage of northern emirates. If you do not want to spend extra funds, then choose one of these FEZ-s 
          .row
            //- 
            .col-md-6
              .h5 RAK Free Trade Zone - FEZ "RAK”
              p One of the cost-effective  FEZ to open a trading business, services or manufacturing license. It has some disadvanages for a person residing in Dubai the distance is quite far, on the other hand it is very close to the sea-port and airports
            //- 
            .col-md-6
              .h5 Ajman Free Zone - FEZ "Ajman" 
              p Cheapest FEZ. It is extremely beneficial to open trading, consulting and production licenses. Successful logistics network, strategically located at the entrance to the Persian Gulf. It also allows to open International Business Licenses. 
            //- 
            .col-md-6
              .h5 Hamriyah Free Zone - FEZ "Hamriya"
              p Mostly focuses on small and medium-sized enterprises. Ability to open a company in the e-office. There are 7 departments, working in different directions.
            //- 
            .col-md-6
              .h5 Fujairah Free Zone - FEZ "Fujairah"
              p It offers registration of companies with a virtual office for sales and consulting agents. Compared to other Free Zones it has relatively low cost storages and placing personnel.
            //- 
            .col-md-6
              .h5 Sharjiah Airport International Free Zone - Sharjah Airport FEZ
              p The main advantage of this free zone is the opportunity to obtain a license for smart logistics office. Low-cost services, fast registration, excellent infrastructure. 
            //- 
            .col-md-6
              .h5 Umm Al Quwain Free Zone - FEZ "Umm Al Quwain"
              p The main direction of work with commercial and consulting companies. A flexible visa policy when renting a small office space. Basic organizational and legal forms of ownership. 






        dt.h3.text-medium Some More Information
        dd.text-light 
          p For companies registered in the free economic zones of the United Arab Emirates, there are three main forms of ownership:
          ul.marked-list
            li
              b Foreign Branch
              |  - a branch of a foreign company;
            li
              b Free Zone Establishment (FZE)
              |  - one of the founders;
            li
              b Free Zone Company (FZCO)
              |  - from 2 to 5 founders.
          p 
            | In contrast to a branch of a foreign company FZE and FZCO companies are separate legal entities. They represent a kind of a limited liability company.
            | The founders of such companies can be both physical and legal persons of any residence except Israel. The minimum   | authorized capital is dependent on the type of activity (type of license), as well as the form of the company and may vary from 50,000 dirhams (such as in the Dubai Multi Commodities Centre (DMCC)) to 1 000 000 dirhams (such as Jebel Ali Free Zone ( JAFZA)). In some cases, the number of FEZ in the authorized capital of UAE is small or has the ability to delay its introduction.
          p 
            | All of the above forms of companies are entitled to the registration of three-year residence visa for investors, the company's employees and their families.
            p 
            | Separately it is necessary to mention a special kind of companies, which may be registered in some of the free economic zones of the UAE - IBC (International Business Company). This type of company, which enjoys a favorable tax regime and a source of income which are outside of the jurisdiction of registration.
          p
            | Only one of the following  license types can be selected when registering a company in the FEZ of UAE:
          ul.marked-list
            li.b A commercial;
            li.b Professional;
            li.b Industrial.
          p
            | Kindly note that the license of a free economic zone in the United Arab Emirates gives the right to conduct operations only within the free economic zone and on the international market. To initiate the activity on the domestic UAE market the company owner has to use the services of a sales representative or register a branch, for example, on the territory of the Emirate of Dubai.
