extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .resp-tab-content-active {min-height: 650px;}


block content
  
  //- 
      +separator()
      h2.text-medium
      dl.list-terms

        dt.h3.text-medium 
        dd.text-light 
          p 


  section.breadcrumb
    ul.inline-list
      li
        a(href='/') Home
      li.active Register A Local Company In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Register A Local Company In UAE
      dl.list-terms



        dt.h3.text-medium
        dd.text-light 
          p Many are hesitant to register local company simply because at first glance, the registration process is quite complicated . But it is not so! Formation of local company gives more benefits to the shareholder then registering the same in the free zones.


        dt.h3.text-medium Opening A Company In Dubai 
        dd.text-light 
          p Depending on the type of activity there are  5 main types of companies in Dubai that are of interest to foreign investors:
          ul.marked-list
            li Limited Liability Company (LLC) - Commercial and industrial activities;
            li Branch of Foreign Company- branch of a foreign company;
            li Branch of a Free Zone Company- branch company registered in FEZ UAE.
            li Sole Establishment- professional services;
            li Civil Company- professional services;

        


        dt.h3.text-medium Key Benefits Of Incorporation Of Company in Dubai
        dd.text-light 
          ul.marked-list
            li.b The technologies allow to entrepreneurs to obtain the license in the shortest time, generally it is 7 TO 10 WORKING DAYS. 
            li.b Opening of the company in Dubai - is a guarantee of your prestige in the UAE, which is an important factor in business when dealing with business partners and banks.
            li.b The company registered in Dubai (eg LLC), can be used as holding companies for tax optimization of international business.
          p 
            | Opening of the company in Dubai allows registration of real estate even in those areas of the UAE, where non-residents are not allowed to buy it.
          p 
            | RMC is a recognized expert in matters of registration of local companies in Dubai with nominee service. We will help you to establish a company in Dubai, taking into account all the advantages and benefits that are available to investors in the UAE.
          p 
            | Open A Company In Dubai (Limited Liability Company) 
          p 
            | Opening of the company in Dubai LLC on the type is required if the foreign investor is planning to engage in commercial activities in the UAE. For example, trade, tourism, advertising business or production activities in the UAE. The founders may be both physical or legal persons. 51% of local companies shares must be owned by a local sponsor - a citizen of the UAE or a local company with 100% ownership of a citizen of the United Arab Emirates. Since 2012 in the Emirate of Dubai cancel the amount requirements for the minimum authorized capital!
            | If the local sponsor is not involved in management of the enterprise, and acts as a "nominal" the founder, then between them and the foreign investor shall be signed the side agreement, in which is stated that the local sponsor does not pretend to have any profits from the company, and receives an annual remuneration for the representation of the interests of the company in front of UAE government bodies .Foreign investors have complete control and management of the local company. After the signing of such agreement the local sponsor can not manage the company, or claim on her earnings.



        dt.h3.text-medium Foreign Company Branch 
        dd.text-light 
          p 
            | The branch of a foreign company operates in the same way as a local company in Dubai in terms of  issuing  work visas for their employees and open a corporate bank account. The branch of a foreign company may carry out representation (purse or advertising) function in the UAE in the interests of the head of a foreign company, previously received a license from the «Representative office» (Executive Office). For industrial or commercial activities is necessary to obtain permission from the Chamber of Commerce in the UAE.
            | Foreign legal entities are registered in the Dubai branch of a foreign company with 100% ownership by agency scheme. In this case, a citizen of the United Arab Emirates is acting as a local agent, and the right to 100% ownership and control of a company owned by a foreign investor- a legal entity.

        


        dt.h3.text-medium Branch Of The Company Registered In Dubai in Free Economic Zones Of UAE  
        dd.text-light 
          p
            | If your assets are concentrated in the territory of the free economic zone, but you want to work on the domestic market, there is a possibility of opening a branch of a company registered in the FEZ, in Dubai. You can obtain a license from the Department of Economic Development in Dubai for almost any activity - commercial, industrial, efforts to provide various services.
            | Thus, the company which has been opened in the free economic zone can be used for the purposes of international business and the accumulation of assets, and its branch in Dubai with a license to operate in the UAE domestic market for the company's operations and funding at the local level.




        dt.h3.text-medium Sole Establishment . Professional Company 
        dd.text-light 
          p 
            | Opening a Sole Establishment type of company  gives you the opportunity to conduct professional activity in the field of consulting, education, medicine, etc. in the domestic market in Dubai and other Emirates on the basis of a license issued by the Dubai Economic Development Department. UAE government is interested in attracting foreign highly skilled professionals, so the UAE citizen acts in such enterprises as the local agent and the sole owner and manager is a foreign investor.
            | Professional company in Dubai is providing to foreign investors individual 100% ownership and management of the business in the UAE. Professional company in Dubai completely refutes the sceptics that think that the lead and owning a business in Dubai is only for local citizen.

        


        dt.h3.text-medium Civil Company (Professional partnership)
        dd.text-light 
          p 
            | Civil Company is a company established as a partnership of two or more partners, individuals or legal entities for the joint provision of professional services in the domestic market of Dubai and the UAE.
            | Just as in the case of Sole Establishment UAE local citizen acts in such companies as the local agent to represent the company in the organs of government of Dubai, for example, in matters of registration of residential visas or renewing the license. Local Agent UAE citizen has no relation to the company's activities in Dubai or financial issues, as well as does not bear any responsibility for the company's activities.
          p
            | But there are exceptions. For example, a company operating in Dubai in the field of engineering, must be composed of an engineers as the founders, and a citizen of the United Arab Emirates, which will own at least 51% of the shares, and in turn, a company providing legal services in Dubai, generally exempt from the obligation to use local services agent at the same time it can be established by two or more foreign partners, individuals or legal entities.

        


        dt.h3.text-medium How To Open A Company In Dubai 
        dd.text-light 
          p
            | Local company in Dubai does not mean only being able to do business at full capacity in the local market. This is a special attitude on the part of counterparties, financial and government institutions. UAE has done everything for the local business to become a powerful tool for enrichment.
            | RMC is doing everything to ensure that our customers have chosen this type of company, which will allow a better and the most comfortable business conditions in the world. Opening a company  in Dubai - is the key to the success of your Business! 
            b Contact representatives of RMC , and our experts will help you to open a company in Dubai to choose the best for your type of business of the company and its location. We provide services at all stages of work, selecting the most advantageous options for you.

        
