extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/about-futu-capital.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium 关于富通资本
      dl.list-terms
        

        dt.h3.text-medium
        dd.text-light
          | 富通证券国际，具有多个业务职能的组织，包括全球外汇经纪人，流动性提供者，外汇交易系统提供商，证券经纪人，企业资金管理平台服务提供商等等，提供外汇交易，流动性解决方案，国际结算 企业对冲，财富管理，证券投资，金融IT解决方案等全球客户和企业的金融产品和服务。


        dt.h3.text-medium 权威监督，守信用
        dd.text-light
          ul.marked-list
            li 证明质量和专业资格已被几个金融监管委员会认可
            li 跨国和多授权权威法规 


        dt.h3.text-medium 全面覆盖专业投资，企业对冲和财务需求
        dd.text-light
          ul.marked-list
            li 金融投资和服务业的工业和地域限制突破
            li 满足个人客户的个人投资需求
            li 为企业交易平台，企业外汇管理等机构客户提供多种解决方案 


        dt.h3.text-medium 尖端的金融科技，不断创新
        dd.text-light
          ul.marked-list
            li 不断研究开发最新的交易和管理工具，帮助您应对日益复杂的商业模式和风险控制系统 
            li 重视科技研发投入，积极运用金融技术研究成果
            li 致力于为您提供尖端的高端金融平台


        dt.h3.text-medium 覆盖三大洲，有7/24交易
        dd.text-light
          ul.marked-list
            li 在中国的香港，北京和台北，以及其他许多国际城市都设立了全资公司或代表处 
            li 不间断的7/24全球电子交易和服务

