extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/accreditation.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Partners
      table.table-with-images
        tr
          td
            img(src='/images/p1.png')
          td
            p
              | 汇丰正式名为香港上海汇丰银行有限公司（香港上海汇丰银行有限公司），是香港最大的银行，在亚太地区设有分行及办事处 地区和世界其他国家。 也是香港金融管理局发行港元发行钞票的三家商业银行之一。
        tr
          td
            img(src='/images/p2.png')
          td
            p
              | 中国银行是香港第二大商业银行集团，在资产和客户存款方面，在香港有超过300家分行。 成立于2001年10月1日，由12家子公司和中国银行在香港的联营公司合并，于2002年10月在香港联交所上市。截至2003年底，该行有7630亿港元 资产，2003年实现净收入80亿港元。总部设在中山银行大厦
        tr
          td
            img(src='/images/p3.png')
          td
            p
              | 巴克莱银行/bɑːrkliz/是一家总部位于伦敦的英国跨国银行和金融服务公司。 它是一个普遍的银行，在零售，批发和投资银行以及财富管理，抵押贷款和信用卡业务。 拥有50多个国家和地区的业务，拥有约4800万客户。
        tr
          td
            img(src='/images/p4.png')
          td
            p
              | 德意志银行股份有限公司（德意志银行），德语银行（德语银行），德语银行（德语银行），德语银行（德语银行），德语银行（德语银行），德意志银行（德意志银行），德意志银行（德意志银行） 在70多个国家拥有10万多名员工，在欧洲，美洲，亚太地区和新兴市场拥有大量业务。 2009年，德意志银行是世界上最大的外汇交易商，市场份额为21％。 该公司是STOXX欧洲50股票市场指数的组成部分，直到2016年8月8日该指数被替代
        tr
          td
            img(src='/images/p5.png')
          td
            p
              | 花旗银行是跨国花旗集团的金融服务消费部门。 花旗银行成立于1812年，作为纽约市银行，后来是纽约第一国家城市银行。 花旗银行提供信用卡，抵押贷款，个人贷款，商业贷款和信用额度。 该银行在19个国家共有2649家分行，其中美国有723家分行，墨西哥有1,494家分行。 美国分行集中在六个大都会地区：纽约市，芝加哥，洛杉矶，旧金山，华盛顿特区和迈阿密。 2016年，美国占收入的70％，墨西哥占收入的13％。 除了美国和墨西哥，公司的大部分分公司都在波兰，俄罗斯，印度和
        tr
          td
            img(src='/images/p6.png')
          td
            p
              | 香港联合交易所有限公司（香港联交所）为位于香港的证券交易所。 东京和亚洲第三大证券交易所的市值在东京证券交易所和上海证券交易所后面，是泛欧交易所以前世界第六大证券交易所。 截至2016年10月31日，联交所有1,955家上市公司，其中989家来自中国大陆，856家来自香港，110家来自国外（如台湾，马来西亚，美国，新加坡等），香港交易及结算所拥有联交所及 本身已在联交所上市。
        tr
          td
            img(src='/images/p7.png')
          td
            p
              | 上海证券交易所是一家位于中国上海市的证券交易所。 是中华人民共和国独立经营的两家证券交易所之一，另一家是深圳证券交易所。 截至2016年2月，上海证券交易所是全球第五大股市，市值为3.5万亿美元，是东亚和亚洲第二大股票市场。 与香港联交所不同，上海证券交易所由于中国内地当局的资本账户控制紧张，经中央政府决定经营操作，对外国投资者依然不完全开放
        tr
          td
            img(src='/images/p8.png')
          td
            p
              | 伦敦证券交易所（LSE）是位于英国伦敦市的证券交易所。 截至2014年12月，本交易所市值达到6.06万亿美元（短期规模），成为世界第三大证券交易所（欧洲最大，超越泛欧证券交易所）。 交易所成立于1801年，其现有的地点位于伦敦市的圣保罗大教堂附近的r广场。 本交易所是伦敦证券交易所集团的一部分。
        tr
          td
            img(src='/images/p9.png')
          td
            p
              | 约证券交易所（简称纽约证券交易所，绰号“大板”）是位于纽约市纽约市下曼哈顿华盛顿街11号的美国证券交易所。 到目前为止，截至2016年6月，其上市公司的市值达到19.3万亿美元，是世界上最大的证券交易所。2013年平均每日交易额约为169亿美元。纽约证券交易所交易所位于华尔街11号。 由21个房间组成，用于促进交易。 位于号的第五个交易室于2007年2月关闭。主楼和华尔街11号大楼于1978年被指定为国家历史地标。
