extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/risk-disclosure.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium 风险披露
      dl.list-terms
        

        dt.h3.text-medium
        dd.text-light
          | 富通证券国际（香港）有限公司（以下简称“本公司”）已发布本文件/文件仅供参考，如有更改，恕不另行通知。
          br
          | 不保证其准确性，可靠性或完整性，并且该{文件/表述]不应被解释为财务或投资建议或招揽或收购任何金融产品或服务的要约。它的准备没有考虑到您的个人目标，财务状况，需求，经验或承受损失的能力。证券交易和杠杆式外汇，差价合约及其他衍生工具交易造成的损失风险可能很大，导致超过您初始存款的损失。考虑到您的目标，财务状况和需求，如果需要，您应考虑是否适合您，寻求适当的专业意见。
          br
          | 本文件不是针对或拟用于分发或使用任何个人或实体，而该人或实体是公民或居民，或位于任何地方，州，国家或其他司法管辖区的任何地方，出版物，可用性或使用将违反任何法律或法规，或将使本公司内的任何实体在该管辖区内进行任何注册或许可要求。




        dt.h3.text-medium 隐私声明 
        dd.text-light
          | 富都资本的政策是尊重个人的保密性和隐私性。本隐私声明列出了富都资本在访问本网站时管理您的信息的方式。 富都资本需要收集某些信息才能提供金融服务，并不时满足您对客户服务的需求。所请求的信息可能包括但不限于您的姓名，出生日期，地址，电子邮件地址，电话号码，身份证明文件，收入和就业细节等。富都资本的互联网服务提供商也可以在您访问时记录您的信息包括但不限于您的域名，访问时间，访问的内容和浏览器类型。如果您选择不按要求提供信息，富都资本可能无法为您提供投资，交易或相关服务。您的信息可能用于为您提供的服务的日常运营，以及管理您的帐户，审查您的持续需求，改进和增强客户服务和提供给现有和潜在客户的产品，促销和营销投资，交易或相关服务和产品，并提供可能与您相关的持续信息或机会。 富都资本将采取合理措施保护您的信息免受未经授权的访问或第三方的使用。根据业务运作及相关产品和服务，富都资本可能需要向（a）富都资本的任何代理商或第三方服务提供商披露您的信息; （b）富都资本内的关联企业或附属公司，承诺将此类信息保密; （c）您拥有或建议进行交易的任何个人或机构; （d）信贷报告或参考机构; （e）与富都资本等业务有关或管理的法院，法庭和监管机构或交易所等。
          br
          | 如果您需要从富都资本运营的每个经营实体的隐私声明副本，请联系我们的客户服务代表。
