extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/fx-market.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium 外汇市场
      p 外汇（缩写为）是一个全球性的货币交易市场。其特点是价格是根据双方达成的协议确定的。这意味着价格只取决于特定货币的供给和需求，这使得它们波动。
      p 因此，外汇（外汇）市场允许您在汇率波动的任何情况下赚取收益。市场的高波动性创造了大幅增加资金的机会，而外汇市场成功交易交易的潜在利润大大超过了所有其他已知金融工具的回报。
      p 外汇市场上货币交易的基础是所谓的“货币对”，或者一种货币在给定配对中对另一种货币的价格。最受欢迎的一对是欧元/美元，或欧元兑美元汇率的比率。它占外汇市场交易的80％左右。英镑/日元，欧元/日元和英镑/美元的这种配对也因个人交易员的实力和波动性而受欢迎。因此，外汇市场为您提供了大量的货币工具来赚取利润。
