extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/liquidity-solutions.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium 液体解决方案

      p 富都资本 提供流动性解决方案和一系列涉及外汇与衍生工具，贵金属，大宗商品交易，风险监控，交易监控，价格引擎，价格整合，后台，报表工具等交易商的技术咨询服务。 这使得风险对冲与国际市场直接相关，并使机构客户在全球资本市场中获得竞争优势
      
      
      h5.text-medium 合作内容包括：
      ul.marked-list
        li 为行业内流动性独立需求的交易所和经销商提供定制交易平台和专业咨询 
        li 7/24交易支持，市场流动性充裕，杠杆率高达200倍 
        li 为合作伙伴提供营销计划和全程培训，以帮助合作伙伴建立自己的品牌，并尽快开发一系列高度竞争和差异化的产品
        li 协助合规，高效的前台，中后台流程管理 
        li 严格的风险管理和控制计划，以保证客户资金和系统的安全 

      br
      p 成为流动性客户后，您将享有以下优势 富都资本

