extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/wealth-management.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium 财富管理

      p 我们的核心任务是为客户的财富提供安全的套期保值和增值服务。 富都资本多年相关经验和资源深植于中国华侨华人城市，为不同阶段企业和个体客户的财务需求提供定制财富管理和规划方案。 
