extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/securities.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium 证券

      p 富都资本 在香港，上海，伦敦，美国等国家提供证券交易。您可以通过富都资本证券在香港，上海，纽约，伦敦等世界主要证券交易所买卖股票并认购上市。 交易平台。
