extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/corporate-fx.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium 公司FX

      p 企业外汇管理一站式解决方案
      br
      p 现代企业的业务活动遍布全球，进行国际结算，跨境支付，企业外汇管理。 对跨境业务和交易有不可或缺的要求。 富都资本根据多年的外汇管理综合经验，一直与世界领先的银行和金融机构密切合作，为跨境收付和企业外汇管理提供具有竞争力的特殊结算解决方案 系统，外汇套期保值和对冲咨询服务，以有效满足跨境电子商务公司，进出口商，大小企业以及个人的外汇和衍生产品的需求。
