// dark-green
$green: #2b7250;
$lighten-green: lighten($green, 10%);
$darken-green: darken($green, 10%);

// light-yellow
$yellow: #fbbb4d;
$lighten-yellow: lighten($yellow, 10%);
$darken-yellow: #f69336;
$more-darken-yellow: darken($darken-yellow, 10%);
