footer.page-foot.text-sm-left.section-50.section-lg-90.offset-md-top--40
  .shell
    .range
      .cell-md-5.offset-top-10
        a.brand(href='/')
          img(src='images/logo.png', alt='', width='266', height='55')
        p
          +translate('%FOOTER%')
    p.offset-top-50
      | Copyright ©  
      span#copyright-year
      |   
      a(href='/')  Privacy Policy
      // {%FOOTER_LINK}
