base(href='/renat-02/static/')

meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')


link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')


//-  ╔═╗╔╦╗╦ ╦╦  ╔═╗╔═╗
//-  ╚═╗ ║ ╚╦╝║  ║╣ ╚═╗
//-  ╚═╝ ╩  ╩ ╩═╝╚═╝╚═╝
//- <!-- build:css css/combined.min.css -->
// bower:css
link(rel='stylesheet', href='bower_components/magnific-popup/dist/magnific-popup.css')
link(rel='stylesheet', href='bower_components/fullpage.js/dist/jquery.fullpage.css')
// endbower
//- исходники шаблона
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,500,700')
link(rel='stylesheet', href='styles/tpl/style.css')
//- 
link(rel='stylesheet', href='styles/main.css')
link(rel='stylesheet', href='css/my-style.css')
//- <!-- endbuild -->



//-  ╔═╗╔═╗╦═╗╦╔═╗╔╦╗╔═╗
//-  ╚═╗║  ╠╦╝║╠═╝ ║ ╚═╗
//-  ╚═╝╚═╝╩╚═╩╩   ╩ ╚═╝

//- исходники шаблона вынесены в layout main.jade

//- <!-- build:js js/combined.min.js -->

// bower:js
script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/magnific-popup/dist/jquery.magnific-popup.js')
script(src='bower_components/select2/dist/js/select2.js')
script(src='bower_components/lodash/lodash.js')
script(src='bower_components/fullpage.js/dist/jquery.fullpage.js')
// endbower

//- глобальные методы, локализации, etc...
script(type='text/javascript', src='js/main.js')

//- <!-- endbuild -->
