extends ../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/contacts-page.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Contacts
      dl.list-terms
        

        dt.h3.text-medium HONG KONG
        dd.text-light
          | Address:
          br
          | 11/F, Bangkok Bank Building, 14-20 Bonham Strand West, Sheung Wan, Hong Kong 
          br
          | Phone/Fax:
          br
          | +852 2828 3555 
          br
          | Email:
          br
          | cshk@futucapital.hk
        




        dt.h3.text-medium BEIJING
        dd.text-light
          | Address:
          br
          | Level 14, Tower A, Gateway Plaza, 18 Xiaguangli North Road, East Third Ring, Chaoyang District, Beijing 100027China, China
          br
          | Phone/Fax:
          br
          | +86 10 5829 9766 
          br
          | Email:
          br
          | cschina@futucapital.hk
        




        dt.h3.text-medium TAIPEI
        dd.text-light
          | B1, 36/F, Cathay Landmark, No.68, Sec. 5, Zhongxiao E. Rd., Xinyi Dist., Taipei City 110, Taiwan 
          br
          | Phone/Fax:
          br
          | +886 2 7710 9889 
          br
          | Email:
          br
          | cstaiwan@futucapital.hk


        




        dt.h3.text-medium MOSCOW
        dd.text-light
          | Address:
          br
          | Level 34, Mercury Tower, Presnenskaya Naberezhnaya, Moscow, Russia
          br
          | Phone/Fax:
          br
          | +7 495 #####
          br
          | Email:
          br
          | csrussia@futucapital.hk



