extends ../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .breadcrumb {
      background-image: url('../images/page-header/liquidity-solutions.jpg');
      padding: 100px;
    }

block content

  section.breadcrumb
    //- ul.inline-list
      li
        a(href='/') Home
      li.active Complicated Licenses In UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Liquidity solutions

      p FUTU Capital provides liquidity solutions and a series of technology consulting services for traders involving forex and derivatives, precious metals, bulk commodities trading, risk monitoring, transaction monitoring, price engines, price integration, backstage, reporting tools and much more. This enables risk hedging directly connected to the international market and enables institutional clients to gain a competitive advantage in the global capital market.
      
      
      h5.text-medium Cooperation contents include:
      ul.marked-list
        li To provide customized trading platform and professional consultation for exchanges and dealers with independent demands for liquidity in the industry 
        li 7/24 trading support, with abundant market liquidity and up to 200 times of leverage options 
        li To provide partners with marketing plans and whole-course training so as to help partners establish their own brands and develop series of highly competitive and differentiated products as soon as possible 
        li Assist with compliant and efficient fore, middle and back grounds process management 
        li Rigid risk management and control program in place to guarantee the security of customers' funds and systems 
      
      br
      p You'll enjoy the following advantages once becoming a liquidity client of FUTU Capital

