extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .resp-tab-content-active {min-height: 650px;}


block content
  
  section.breadcrumb
    ul.inline-list
      li
        a(href='/') Home
      li.active Access To International Market

  section.text-md-left.section-60
    .shell
      h2.text-medium Access To International Market
      dl.list-terms
        

        dt.h3.text-medium General information
        dd.text-light
          p UAE is positioned as one of the three best centers in the world in the export and import, as a natural geographic gateway between East and West and the ideal strategic point between the developed and emerging markets. Emirates are at the crossroads of the Asia-African trade routes, as well as Asia and Europe. Billions of dollars are invested in the provision of infrastructure and logistics UAE, to provide import and export goods through customs with ease, efficiency and availability.
          p The connection between the sea and air transport, large commercial ports, modern warehouses and the presence of a huge number of regional and international transport and logistics companies make the UAE an ideal platform for the international market.


        dt.h3.text-medium Import And Export
        dd.text-light
          | Global agreements on free trade and partnership of UAE provide strong ties and free trade without tariffs and economic barriers to many countries such as the Arab world and outside the Middle East, as well as provide many advantages in the implementation of trade through UAE customs
        

        dt.h3.text-medium Economic agreements
        dd.text-light
          | GAFTA - agreements "the Great Arab Free Trade Zone" unites countries of the Persian Gulf. UAE has economic agreements with more than 20 countries in Asia, Africa, Europe and South America and Australia. At the moment, the are working on signing an agreement with China 
        
      

        dt.h3.text-medium Free Trade
        dd.text-light
          | UAE has signed agreements on free trade with many countries, including Singapore, Switzerland, Norway, Iceland, Liechtenstein, New Zealand and European Free Trade Association.
          | UAE at the stage of negotiations on free trade with the EU and the US. Emirates in the process of signing a free trade agreement with Japan, imports from the UAE which annually amounts to more than US $ 25 billion.

        
      

        dt.h3.text-medium Are you looking for a strong business platform for international trade?
        dd.text-light
          | Economic relations and free trade with the UAE make the country more attractive investment space for start-up businesses. Emirates is the large-scale shopping hub that with the help of experienced professionals and consultants can become a successful global platform for international trade without economic barriers for your business.
        
      



      +separator()
      h2.text-medium International Market Access Through The UAE Company Formation - Steps
      dl.list-terms

        dt.h3.text-medium Company registration
        dd.text-light
          | For a successful start is necessary to choose the future deployment of the company - directly in the Emirates or the UAE one of the free economic zones, as well as go through the business licensing procedures that are mandatory in the UAE. Experts of Core Business Consulting will pick up necessary to the specifications of your business organizational and legal form of the company, registration place - local or in a specialized SEZ and resolve all issues with the preparation of documentation and obtaining the required licenses, including complicated specialized.
        

        dt.h3.text-medium Logistics complex
        dd.text-light
          | We offer a comprehensive service operation on international trade in the field of transport and logistics services. 
          b Reliant Management Consultancy
          |  specialists will help you choose and hire the necessary storage space, organize the process of legal and financial clearance, the construction of logistics goods transport routes in one of the most profitable and optimal routes (sea, land and air transportation) through proven and reliable partner. Our company provides transport and logistics process as efficiently as possible for the client time and cost-effectively.
        
        dt.h3.text-medium Certification Of Products
        dd.text-light
          b Reliant Management Consultancy
          |  will help you in taking all the necessary procedures in accordance with the specifics of your business, including the certification of consumer goods in the Dubai Central Laboratory according to ISO international standards and HACCP, testing of the final product, documentation and licensing of production in the Municipality of Dubai, in the case of decanting of your goods in United Arab Emirates, as well as the standardization of manufactured goods, including equipment, the Agency metrology and standardization of the United Arab Emirates (ESMA), which will sell products not only in the UAE market, but also in the countries of the GCC with a combined population of 40 million people and a total market volume of more than 715 million dollars
          b Reliant Management Consultancy
          |  will help in the passage of the full range of customs procedures. We will help you in obtaining the necessary documentation from the exporter: Bill of Lading (for shipping), Air Waybill / AWB (air), Invoice (invoice), Packing List, Certificate of Origin and Health Certificate; We make a request for loading and unloading operations; help to give the Delivery Order, as well as filling out and submitting the customs declaration for Bill of Entry. Next, you must go through the procedure of examination of the goods and get a laboratory compliance to allow its exports to the UAE, advice and assistance in the passage which will provide our team of experienced professionals.
        
      

        dt.h3.text-medium Organization And Maintenance Of Sales
        dd.text-light
          b Reliant Management Consultancy
          |  specialists will provide comprehensive services for the construction of retail and support, as well as the search for partners in the UAE market. We will help in building a retail network, signing the necessary agreements on the most favorable terms for your business. For ease of doing business, we assist in the search for partners and contractors. If you already had preliminary contacts with partners, our company will hold comprehensive check for reliability and credibility.
        
      

        dt.h3.text-medium WHY access to international markets is profitable?
        dd.text-light
          ul.marked-list
            li Emirates is one of the best centers in the world for export and re-export of the ideal strategic location between East and West;
            li Great opportunities for global trade, access to developed and developing markets;
            li Modern infrastructure and logistics for effective operations of import / export;
            li Organized transport and logistics system, equipped warehouses;
            li A solid base of free trade agreements with many countries in the Arab world and the Persian Gulf, with the countries of North Africa, Singapore and so on.
            li The international prestige, a huge market with a lack of economic barriers;
            li The absence of the tax burden, the minimum customs procedures and duties.

        

