extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .resp-tab-content-active {min-height: 650px;}


block content
  
  //- 
      +separator()
      h2.text-medium
      dl.list-terms

        dt.h3.text-medium 
        dd.text-light 
          p 


  section.breadcrumb
    ul.inline-list
      li
        a(href='/') Home
      li.active Business Without Taxes

  section.text-md-left.section-60
    .shell
      h2.text-medium Business Without Taxes
      dl.list-terms



        dt.h3.text-medium 
        dd.text-light 
          P Building an effective business, the main instruments of which are the optimization of income tax and tax minimization in principle - is the main problem faced by every entrepreneur. You may find out the possible ways of minimizing or avoiding taxation by contacting 
            b Reliant Management Consultancy.
          p Depending on the methods used in order to optimize the tax burden, tax minimization methods can be divided into three groups:
          ul.marked-list
            li 
              b Black minimization of taxes 
              | (example: cost increases and the withdrawal of funds from the company by means of fictitious contracts for non-existent services or supply of goods without import to optimize the income tax);
            li 
              b Grey minimization of taxes 
              | (for example: the use of intermediary firms to artificially lowering the cost of imported goods for the purpose of the VAT tax optimization);
            li 
              b White minimization of taxes 
              | is a complex legal mean to minimize the tax measures (such as tax benefits for the use of international agreements on avoidance of double taxation).
          p.mt-10
            b Reliant Management Consultancy 
            | specialists advise and assist in the optimization of the tax burden of your business. Organize a business in the UAE, and you will be able to use a number of advantages, because this jurisdiction is the best platform for managing international business. In the UAE, the system of minimized taxation is organized to assist the extraction of the maximum profit and maintained at a level of state policy.




        dt.h3.text-medium Tax Exemptions
        dd.text-light 
          p We can help you deal with the benefits that agreements on avoidance of double taxation provide today between the two countries, and will recommend the best solutions for their use in order to minimize taxation.


        dt.h3.text-medium Optimization Of Contractual Relations
        dd.text-light 
          p Depending on the activity of the company, we will advise the best form of contractual relations, which can act as agent, commission based contractor, contractor to pay royalties, lease agreements, and outsourcing and other out staffing.


        dt.h3.text-medium Tax Burden Analyses 
        dd.text-light 
          p Based on the reported financial statements, we analyze Your tax burden and offer options for its minimization, wewill build a suitable solution tailor made for you.


        dt.h3.text-medium International Holding Companies 
        dd.text-light 
          p We help to create an international holding company for tax minimization purposes, as well as protection of your business assets.


        dt.h3.text-medium The Solution Of Any Possible Difficulties 
        dd.text-light 
          p
            | If there is a task of conducting technical operations related to financial transactions, foreign trade operations, we will propose ways to implement them. We are always ready to help in solving various kinds of problems that any entrepreneur is facing. 
            | A lot of jurisdictions in the world are making it possible to do business without the tax under certain conditions. But only the United Arab Emirates at the legislative level they guarantee exemption from taxes for its residents - legal entities and individuals - regardless of whether the business is conducted on the domestic market or outside the UAE.

