extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .resp-tab-content-active {min-height: 650px;}


block content
  
  section.breadcrumb
    ul.inline-list
      li
        a(href='/') Home
      li.active Business in UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Business in UAE
      dl.list-terms
        

        dt.h3.text-medium General information
        dd.text-light
          | Reliant Management Consulting has been set up by several partners specialized in finance, law and marketing. The fusion of our experience in UAE in these fields has inspired us to create the company concentrated on cultivating ties with local financial institutions for establishing and building innovative businesses in line with Dubai’s vision and global market.
          br
          | Reliant Management Consulting Is a business Incubator that helps young entrepreneurs to start up their business in UAE and other worldwide jurisdictions.
          br
          | With our industry expertise we are able to provide wide range of services and to consult our customers on every level of business development of the company.
          br
          | Our professional team of market research, public relations, legal advisors and business consultants are able to advice our customers the best and cost effective ways of establishing companies and promoting their business ideas to the global market.
          br
          | The core idea of RMC is to establish a business community and create a platform for exchanging ideas and partnerships with local and international entrepreneurs.
          br
          | We are offering not only fast track business set up, we are establishing long run partnerships with our customers and we always remain in their disposal for any inquiries from their side at any time. 
        

        dt.h3.text-medium Company Start Up
        dd.text-light
          | UAE is one of most reliable jurisdictions to open and run the businesses. State imposes no taxes, the banking system works well, the rights of entrepreneurs are protected  like in no other country and there is a guaranteed withdrawal and transaction of funds. UAE has been ranked 23rd place in the world for ease of doing business, the 4th place in the category of "Trading across borders" and was recognized as the best place in the region to start a business.
          br
          | It is applicable to say that UAE is one of the most reliable substitutions to traditional Offshore jurisdictions for various reasons, like: it has not been included in the grey and black lists of OECD, the FATF and other organizations, on the other hand, as UAE is not the member of OECD, it is not obliged to share information with financial institutions and other countries. 
          br
          | Geographical location of UAE allows international trade transactions and alignments to be executed from this country with ease and with many economical benefits.  The government, at the same time did everything to allow this ambitious plans to be implemented with simplicity. UAE has established one of the best(probably the best) logistics systems of ligaments and all transportation means work very well. 
          br
          | 
          br
          | With 
          b Reliant Management Consultancy 
          | any entrepreneur on any stage of development of his company can count on our support and expertise in setting up, developing and supporting his intellectual capital and business. We can become your reliable business ally with our expertise.
        

        dt.h2.text-medium
          a(href='/static/contacts').btn.btn-xs.btn-yellow.h2.text-medium
            | Register A Company In Dubai, United Arab Emirates
        dd.text-light
          | Before you register a company in the United Arab Emirates, first of all, you need to pay attention to the choice of the type of business and activity, to choose the right legal form and the place of registration. We will help you to make a correct choice and make all necessary processes legally .
        

        dt.h3.text-medium Choice of activity
        dd.text-light
          .row
            .col-md-6
              p In order to carry out the business activity a company must obtain a license, and the license may include certain different activities. We will help you to choose allowed activities under one license and get the optimal license for your business. Helping out entrepreneurs to do business in UAE it is our specialization.
            .col-md-6
              p There are various types of licenses:
              ul
                li
                  b Professional license
                  |  - generally offers various kinds of services 
                li
                  b Commercial license
                  |  - includes mainly trading companies;
                li
                  b Manufacturing license
                  |  - is  associated with the processing of the goods or packaging of products for sale.
        

        dt.h3.text-medium Choice of organizational and legal forms Of The Company
        dd.text-light
          .row
            .col-md-6
              p There is a wide range of legal entities which are entitled to register the company.  Our experts will help you to understand and choose the one that is most appropriate for your business. We are ready to provide full explanations of all the options and show you how to register a company in the United Arab Emirates.
            .col-md-6
              p Legal Forms Of Companies Are:
              ul
                li
                  b Joint venture company
                  |  - is the agreement between the local and foreign company to obtain mutual license to engage in certain activity .
                li
                  b Individual businesses
                  |  - under full control of the owner
                li
                  b Branches of foreign companies
                  |  - subdivisions of the companies with the head office abroad
                li
                  b Associations
                  |  - companies with various shareholders.
        

        dt.h3.text-medium Choice Of Location Of The Company
        dd.text-light
          .row
            .col-md-6
              p Choosing the right location for the new company is one of the most important success factors. A local company, onshore companies in one of the free economic zone (FEZ) and international business companies have different advantages depending on the type of business and activity. Each has its own terms and conditions, and that is why it is important to understand - what suits your business.
            .col-md-6
              ul
                li
                  b International Business company
                  |  - allows you to start to do business only on the international market;
                li
                  b Onshore company
                  |  - in the free economic zone- entitles you start the business at the international and the domestic market is limited to the United Arab Emirates;
                li
                  b Local  company
                  |  - allows you to start doing business on the international market and provides unlimited access to the local market of the United Arab Emirates.


        dt.h3.text-medium Services For Opening And Supporting The Business In UAE
        dd.text-light
          p
            | Our company provides a full range of consulting services to entrepreneurs, which aim to open or further develop an existing business in the UAE. We are ready to take on the implementation of individual processes and the complete management of the project of any complexity. We offer complete solutions, including the organization and management of the business in the UAE:
          p
            b registration of companies in the UAE, registration of licenses of any type and complexity, coordination in the relevant committees and departments, obtaining the necessary permits and certificates, production companies registered in the Ministry of Labour, the immigration office and the selection of personnel, assistance in obtaining resident visas in the UAE for the founders, managers, other employees and their families, opening of bank accounts in banks of the United Arab Emirates and other countries (including merchant accounts), assistance in finding funding for a business consulting company in UAE lending banks.











