extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .resp-tab-content-active {min-height: 650px;}


block content
  
  //- 
      +separator()
      h2.text-medium
      dl.list-terms

        dt.h3.text-medium 
        dd.text-light 
          p 


  section.breadcrumb
    ul.inline-list
      li
        a(href='/') Home
      li.active Investments in UAE

  section.text-md-left.section-60
    .shell
      h2.text-medium Investments in UAE
      dl.list-terms
        

        dt.h3.text-medium
        dd.text-light
          p 
            | UAE is one of the most attractive countries for foreign investors. They occupy 11 th place on the attractiveness of direct foreign investment. In addition, Emirates is in top 10 of the countries with good prospects for development (6th place, second only after China, Brazil, the USA, Canada and the United Kingdom).
            | A rich country with high income, has a modern legislation and transparent judicial system, which are so valued by investors.
            | The absence of taxation, many programs of government subsidies to promising industries, cheap labor and resources
            | The absence of risks of raiding on the part of competitors in the business, as well as open and loyal to the international business policy.
            | The increase in the flow of foreign direct investments in Dubai, UAE in different sectors of the economy in the run-up to EXPO 2020
            | Reliant Management Consultancy   is an expert in the field of investments in the UAE. 
          p
            | Our company will create a personal investment-attractive projects and develop a comprehensive high-yielding mechanisms of making business with the highest return on capital.
          p
            | Investment in UAE

        

        dt.h3.text-medium Realization of investment projects through the creation of an investment-attractive ENTERPRISES
        dd.text-light
          p The amount of investment is not limited and depends on the possibilities of the project. Our company will achieve the planned investment in the most effective and attractive businesses, recommend the most advantageous in terms of payback business niche. RMC Experts pay attention to the prospects of development of investment project and its competitiveness. We are focused on obtaining the highest possible net income from investments in the UAE. Our company will help not only to launch the investment business project, but also, if necessary, manage them. We know how to make your business profitable in the shortest terms.
        

        dt.h3.text-medium Investments In Dubai 
        dd.text-light
          p For those who do not have the opportunity to invest fully in the project, RMC is ready to search and select the partners (co-investors). With the serious attitude and the right approach, equity in business will bring a high income. Each partner will make a profit, based on the scope of the investment. All relations between the co-investors will be guaranteed and protected from possible disputes over the signing of the contract in court of Dubai, we are talking about serious financial investments. RMC offer investment project to find the necessary partners and business case management at the same time will take over!
        

        dt.h3.text-medium Investment In Commercial Property
        dd.text-light
          p Reliant Management Consultancy organizes investments in commercial real estate - office space, shops, restaurants, beauty shops, warehouses and other terms of their use in the business, choosing the most attractive objects by its location, surrounding infrastructure, transport interchange and many other factors. Our experts will launch on your object of commercial real estate new business project to other investors. You will only need to carry out repair work in order to obtain a greater return on investment.
        

        dt.h3.text-medium Dubai Real Estate Investments
        dd.text-light
          p Investments in real estate in Dubai in addition to aspects of the respectability of business location and excellent infrastructure, bring their owners good returns. Every year, the emirate's property grows in value. By investing in Dubai, you get a guaranteed income growth without additional investment, and profit when reselling the object or renting it out. RMC is focused on the future and will recommend the object as the business project that will be implemented on it in the future. Thus, the investor receives not only income from constructing/repairing the object, but a higher return, which ensures a promising business direction.
        

        dt.h3.text-medium Special Offers
        dd.text-light
          p RMC specialists are engaged in search, selection and formation of proposals for investment with special most favorable terms, including as a partner for co-investment programs and individual proposals for business plans to calculation level of return of investments, ready for the special investment packages conditions and other proposals.
        
  