extends ../../_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    .resp-tab-content-active {min-height: 650px;}


block content
  
  //- 
      +separator()
      h2.text-medium
      dl.list-terms

        dt.h3.text-medium
        dd.text-light
          p 


  section.breadcrumb
    ul.inline-list
      li
        a(href='/') Home
      li.active Manufacturing

  section.text-md-left.section-60
    .shell
      h2.text-medium Manufacturing
      dl.list-terms
        

        dt.h3.text-medium General information
        dd.text-light
          p Every day Emirates are lucrative deal for the supply of a wide variety of goods, and products of local manufacturers are popular both in the domestic market and abroad. Due to its advantageous geographical location of the country, the enterprise offers access to the most fast-growing markets of Asia and Africa.



        dt.h3.text-medium UAE is a profitable option for the start of production abroad
        dd.text-light
          p The entire region and even the world recognizes products that are certified in the UAE. Manufactured goods in the UAE have the right to exit the market without custom tax of Gulf with its 100 million solvency of the population, receive the privilege for participation in state tenders auctions and competitions. 



        dt.h3.text-medium Benefits Of Incorporation In UAE
        dd.text-light 
          ul.marked-list
            li Strong support of the local companies by the state
            li The absence of taxation, customs duties and charges
            li Availability of various leasing programs
            li Important trading and logistics hub between East and West
            li A variety of loan programs and financing schemes
            li A well-organized logistics infrastructure
            li 100% repatriation of invested and earned capital
            li The cheapness of labor attracted workers and residents
            li Huge parts turnover, raw material for the production of any
          p.mt-10 Emirates  is the largest maritime hubs in the Persian Gulf and the Indian Ocean, the largest airport, one of the world's best ground logistics, perfect legislation. You can establish a factory in the United Arab Emirates and enjoy all the benefits and advantages of the proceedings in a favorable environment for business.


        dt.h3.text-medium Unique Sales Perspectives 
        dd.text-light 
          p Products originating in the UAE, are not subject to the additional customs and other taxes, and do not meet any economic barriers and restrictions in any of the countries of the world.



        dt.h3.text-medium Domestic Market 
        dd.text-light 
          p If the marketing policy of your production company focused on the UAE domestic market, the company Reliant Management Consulting recommends to register a local company in Dubai. The Emirates has one of the world's largest cargo port - Jebel Ali, which is capable of sending any shipment, not less developed are the airways, Airports - Dubai International Airport and Al Maktoum International Airport is already taking a leading number of goods, while their construction and development continues.



        dt.h3.text-medium Manufacturing Benefits Of Dubai 
        dd.text-light
          ul.marked-list
            li The absence of 5% customs duty in trade in the domestic market that is constantly evolving and has a high demand.
            li Lower than in all FEZ UAE, the cost of obtaining and annual license renewal for trade and manufacturing.
            li Fully equipped offices, warehouses, industrial workshops, which are ready to provide the best conditions.
            li Save on services sales agent (required for all foreign companies and companies in the EPZs to trade in Dubai);
            li Low cost of registration of resident visas for workers, investors, as well as family members, compared with BMS UAE
            li A lower rental rate than most of the FEZ on the warehouse and industrial premises
            li Full range of services for the organization of production in Dubai
          p.mt-10 In addition to registration services of manufacturing company, we can help at all stages of production start-up in Dubai and will assist with any current issues, such as staffing, legal support, interaction with public authorities, assistance in the management and control at the client's request.



        dt.h3.text-medium Manufacturing Company On Purpose Of International Trade in UAE
        dd.text-light 
          p If your production company is focused on international trade, ideal  place of registration will become one of the free economic zones of the United Arab Emirates. It should be noted that Free Economic Zones of the United Arab Emirates are located in different parts of the country and in different distance from Dubai.
          p In areas located very close to Dubai (for example, FEZ Jebel Ali), the rental rates for the production and storage facilities will be higher, but will be tangible savings on electricity, water, transportation and logistics costs. In addition,  Jebel Ali is actually part of Dubai. If you do not bind business and industry to Dubai, you can register a company in FEZ Ras Al Khaimah and Ajman, where the rates for rental housing for staff and other overhead costs are lower, but in order to get from Dubai to production sites,you  will need to spend 1.5 hours on the road.




        dt.h3.text-medium Factors, Affecting The Choice Of FEZ
        dd.text-light 
          p
            | FEZ located throughout the Emirates, they differ in specialization, cost and procedure for obtaining the license and rent. Selection of Free Economic Zone for the commencement of the proceedings should be made based on several factors:
            | The company's products - it is necessary to take into account features of the products and the specificity of its storage and transportation
          p
            | Sales orientation - abroad, the domestic market of the Emirates or companies located in EPZs
          p
            | The method of delivery of raw materials and components - import raw materials from abroad or purchase on the domestic market of the Emirates
          p
            | Export Path finished products - depending on how the product will be sent, is to choose the SEZ, offering access to the port or airport
          p
            | The number and ethnic composition of workers - invited foreign experts and workers recruited locally
          p
            | Launch Industry in UAE FEZ - easily, quickly and securely
          p
            | RMC always pays attention to every detail, which allows our customers to pick up necessary for registration of FEZ specific to their production as well as to avoid any "surprises" at all stages of its work

          .h5 LEASING SERVICES FOR UAE
          p
            | Leasing in the UAE differs versatility and flexibility conditions. Take advantage of them can be complex for the purchase of expensive equipment, and small upgrades or implementation in the workplace. The contract concluded between the parties, typically involves technological maintenance and repair.
          p
            | Leasing is usually granted for a period of 1 to 5 years. The amount by which you can get the equipment is generally determined individually for each company. At the same time take advantage of leasing is possible at any stage of the enterprise, whether the choice of land or office space arrangement or replacement of obsolete equipment.

          .h5 BENEFITS OF LEASING IN PRODUCTION
          p
            | Modernization - leasing allows you to use the latest equipment, it does not use the existing lines of credit and capital.
          p
            | Flexible payments - payments on the contract may be carried out monthly, quarterly or even once a year, at the same time it is paid in equal instalments.
          p
            | Easy registration - procedure of registration of the lease in the UAE is characterized by simplicity, transparency and speed compared to obtain lending
            | Flexible leasing conditions in the UAE is a financial instrument for successful production
          p
            | All the advantages of leasing is easy to use for the successful operations of the enterprise, seek the advice of experienced professionals of Reliant Management Consultancy  to help  implementing effective solutions and necessary equipment to receive the most favourable terms.

