extends ./_layouts/main.jade

block append head
  //- script(src='/ViewControllers/index.js')
  style.
    #body header {
      position: fixed !important;
      width: 100%;
    }
    #body nav { background: rgba(0,0,0, 0.1); }
    #fullpage > div {background-size: cover;}
    .one   {background-image: url('images/landing/1.jpg');}
    .two   {background-image: url('images/landing/2.jpg');}
    .three {background-image: url('images/landing/3.jpg');}
    .four  {background-image: url('images/landing/4.jpg');}
    .five  {background-image: url('images/landing/5.jpg');}
    .six   {background-image: url('images/landing/6.jpg');}


    .white {
      color: #fff;
      font-weight: 100;
      padding: 20px 40px;
      }
    .mxw {max-width: 700px; margin: auto;}

    .fixed-bottom {
      position: absolute;
      bottom: 0px;
      width: 100%;
      }
    .fixed-bottom > ul {display: flex; width: 100%;}
    .fixed-bottom > ul li {
      flex: 1;
      }
    .fixed-bottom > ul li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 40px 20px;
      background: rgba(0,0,0, 0.5);
      color: #fbbb4d;
      }
    .fixed-bottom > ul li a:hover {
      background: rgba(0,0,0, 0.8);
      color: #fff;
      }

    #body .rd-navbar-nav > li > a {background: #2b7250; color: #fff;}
      

    .black-wrapper {
      background: rgba(0,0,0, 0.3);
      margin-top: -10vh;
    }





  script.
    $(document).ready(function() {
        $('#fullpage').fullpage({
          anchors: [
            'home',
            'business-in-uae',
            'company-registration',
            'business-management',
            'capabilities',
            'contacts',
          ],
          menu: '#menu',
          scrollingSpeed: 700,
        });
    });


block content
  // Swiper
  section
    #fullpage
      .section.one
        .h2.white
          | With a team of 2,800 talented financial services specialists on the ground in 40 countries across the world, we deliver a unique global perspective across four market-leading business divisions.
        +separator()
        .h2.white
          | An informed and impartial perspective to help our clients reach their goals through the design and execution of strategic M&A and financing solutions.
      




      .section.two
        .black-wrapper
          .h2.white
            | Business in UAE
          .h5.white.mxw
            | Lorem ipsum Duis exercitation magna enim reprehenderit aliquip ut ex anim in in consectetur voluptate occaecat adipisicing Ut dolore occaecat cupidatat cupidatat exercitation Excepteur Excepteur ut qui amet non in sed in velit eiusmod aliqua consectetur.
        .fixed-bottom
          ul
            li
              a(href='/static/business-in-uae/') Company setup
            li
              a(href='/static/business-in-uae/business-without-taxes/') Organization of business
            li
              a(href='/static/business-in-uae/access-to-international-market/') International market
            li
              a(href='/static/business-in-uae/manufacturing/') Manufacturing
            li
              a(href='/static/business-in-uae/investment-in-uae/') Investment In UAE
      




      .section.three
        .black-wrapper
          .h2.white
            | Company registration
          .h5.white.mxw
            | Lorem ipsum Duis exercitation magna enim reprehenderit aliquip ut ex anim in in consectetur voluptate occaecat adipisicing Ut dolore occaecat cupidatat cupidatat exercitation Excepteur Excepteur ut qui amet non in sed in velit eiusmod aliqua consectetur.
        .fixed-bottom
          ul
            li
              a(href='/static/company-registration/local-company/') Local company
            li
              a(href='/static/company-registration/free-zone-company/') Free zone company
            li
              a(href='/static/company-registration/offshore-ibc/') Offshore-ibc
            li
              a(href='/static/company-registration/holding-structures/') Holding structures
            li
              a(href='/static/company-registration/complicated-license/') Complicated licenses
            li
              a(href='/static/company-registration/joint-venture/') Joint venture
      




      .section.four
        .black-wrapper
          .h2.white
            | Business management
          .h5.white.mxw
            | Lorem ipsum Duis exercitation magna enim reprehenderit aliquip ut ex anim in in consectetur voluptate occaecat adipisicing Ut dolore occaecat cupidatat cupidatat exercitation Excepteur Excepteur ut qui amet non in sed in velit eiusmod aliqua consectetur.
        .fixed-bottom
          ul
            li
              a(href='/static/business-management/management-consulting/') Management consulting
            li
              a(href='/static/business-management/legal-assistance/') Legal assistance
            li
              a(href='/static/business-management/open-bank-accounts/') Open bank accounts
      




      .section.five
        .black-wrapper
          .h2.white
            | Capabilities
          .h5.white.mxw
            | Lorem ipsum Duis exercitation magna enim reprehenderit aliquip ut ex anim in in consectetur voluptate occaecat adipisicing Ut dolore occaecat cupidatat cupidatat exercitation Excepteur Excepteur ut qui amet non in sed in velit eiusmod aliqua consectetur.
        .fixed-bottom
          ul.rd-navbar-dropdown
            li
              a(href='/static/capabilities/sales-and-marketing/') Sales and marketing
            li
              a(href='/static/capabilities/finance-and-deveopment/') Finance & development
            li
              a(href='/static/capabilities/diversification/') Diversification
      




      .section.six
        .black-wrapper
          .h2.white
            | Contact us
          .h5.white.mxw
            | UAE, Dubai, Business Bay, International Business Tower, Unit 703.
        
        .fixed-bottom
          ul.rd-navbar-dropdown
            li
              a(href='/static/contacts/') Contacts page







block footer